<!DOCTYPE html>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

<head>
    <title>Home</title>
</head>

<body>
    {% include 'topnav.html' %}

    <h1>
        <br>Сервис поиска и инвентаризации небезопасных криптографических сертификатов.
    </h1>
    <p>
        Сервис может по списку IPv4 адресов получить информацию о сертификатах ресурсов. Главные достоинства:
    </p>
    <ul>
        <li>Гибкая настройка параметров безопасности сертификатов</li>
        <li>Весь функционал доступен через сайт</li>
        <li>Предоставление результатов анализа</li>
        <li>Сохранение результатов в базе данных для повторного использования</li>
    </ul>
</body>