<!DOCTYPE html>

<head>
    <title>Search</title>
</head>

<body>
    {% include 'topnav.html' %}

    <h1>Search IP addresses</h1>

    <h2>Settings</h2>

    <form action="/search" method="POST">
        <p style="font-style: italic;">Allowed protocols</p>
        <div>
            <input type="checkbox" id="ap_ssl2.0" name="allowedProtocols" value="sslv2">
            <label for="ap_ssl2.0">SSL 2.0</label>

            <input type="checkbox" id="ap_ssl3.0" name="allowedProtocols" value="sslv3">
            <label for="ap_ssl3.0">SSL 3.0</label>

            <input type="checkbox" id="ap_tls1.0" name="allowedProtocols" value="v0">
            <label for="ap_tls1.0">TLS 1.0</label>

            <input type="checkbox" id="ap_tls1.1" name="allowedProtocols" value="v1">
            <label for="ap_tls1.1">TLS 1.1</label>

            <input type="checkbox" id="ap_tls1.2" name="allowedProtocols" value="v2">
            <label for="ap_tls1.2">TLS 1.2</label>

            <input type="checkbox" id="ap_tls1.3" name="allowedProtocols" value="v3">
            <label for="ap_tls1.3">TLS 1.3</label>
        </div>

        <p style="margin-top: 20px; font-style: italic;">Allowed key exchange algorithms</p>
        <div>
            <input type="checkbox" id="ke_dsa" name="keyExchange" value="_DSAPublicKey">
            <label for="ke_dsa">DSA</label>

            <input type="checkbox" id="ke_rsa" name="keyExchange" value="_RSAPublicKey">
            <label for="ke_rsa">RSA</label>

            <input type="checkbox" id="ke_ecdh" name="keyExchange" value="_EllipticCurvePublicKey">
            <label for="ke_ecdh">Elliptic-curve Diffie Hellman</label>

            <input type="checkbox" id="ke_ed25519" name="keyExchange" value="_Ed25519PublicKey">
            <label for="ke_ed25519">Ed25519</label>

            <input type="checkbox" id="ke_ed448" name="keyExchange" value="_Ed448PublicKey">
            <label for="ke_ed448">Ed448</label>

            <input type="checkbox" id="ke_x25519" name="keyExchange" value="_X25519PublicKey">
            <label for="ke_x25519">X25519</label>

            <input type="checkbox" id="ke_x448" name="keyExchange" value="_X448PublicKey">
            <label for="ke_x448">X448</label>
        </div>

        <p style="margin-top: 20px; font-style: italic;">
            Allowed Message Authentication Code (MAC) generation algorithms
        </p>
        <div>
            <input type="checkbox" id="mg_md5" name="macGen" value="md5">
            <label for="mg_md5">MD5</label>

            <input type="checkbox" id="mg_sha1" name="macGen" value="sha1">
            <label for="mg_sha1">SHA1</label>

            <input type="checkbox" id="mg_sha256" name="macGen" value="sha256">
            <label for="mg_sha256">SHA256</label>

            <input type="checkbox" id="mg_sha384" name="macGen" value="sha384">
            <label for="mg_sha384">SHA384</label>

            <input type="checkbox" id="mg_aead" name="macGen" value="aead">
            <label for="mg_aead">AEAD</label>

            <input type="checkbox" id="mg_magma" name="macGen" value="magma">
            <label for="mg_magma">GOST 28147-89 IMIT</label>

            <input type="checkbox" id="mg_streebog" name="macGen" value="streebog">
            <label for="mg_streebog">GOST R 34.11-94</label>
        </div>

        <p style="margin-top: 20px; font-style: italic;">Allowed ciphers algorithms</p>
        <div>
            <input type="checkbox" id="c_aes_gcm" name="ciphers" value="aes_gcm">
            <label for="c_aes_gcm">AES GCM</label>

            <input type="checkbox" id="c_aes_ccm" name="ciphers" value="aes_ccm">
            <label for="c_aes_ccm">AES CCM</label>

            <input type="checkbox" id="c_aes_cbc" name="ciphers" value="aes_cbc">
            <label for="c_aes_cbc">AES CBC</label>

            <input type="checkbox" id="c_camellia_gcm" name="ciphers" value="camellia_gcm">
            <label for="c_camellia_gcm">Camellia GCM</label>

            <input type="checkbox" id="c_camellia_cbc" name="ciphers" value="camellia_cbc">
            <label for="c_camellia_cbc">Camellia CBC</label>

            <input type="checkbox" id="c_aria_gcm" name="ciphers" value="aria_gcm">
            <label for="c_aria_gcm">ARIA GCM</label>

            <input type="checkbox" id="c_aria_cbc" name="ciphers" value="aria_cbc">
            <label for="c_aria_cbc">ARIA CBC</label>

            <input type="checkbox" id="c_seed_cbc" name="ciphers" value="seed_cbc">
            <label for="c_seed_cbc">SEED CBC</label>

            <input type="checkbox" id="c_3des_ede_cbc" name="ciphers" value="3des_ede_cbc">
            <label for="c_3des_ede_cbc">3DES EDE CBC</label>

            <input type="checkbox" id="c_magma" name="ciphers" value="magma">
            <label for="c_magma">GOST 28147-89 CNT</label>

            <input type="checkbox" id="c_idea_cbc" name="ciphers" value="idea_cbc">
            <label for="c_idea_cbc">IDEA CBC</label>

            <input type="checkbox" id="c_des_cbc" name="ciphers" value="des_cbc">
            <label for="c_des_cbc">DES CBC</label>

            <input type="checkbox" id="c_rc2_cbc" name="ciphers" value="rc2_cbc">
            <label for="c_rc2_cbc">RC2 CBC</label>

            <input type="checkbox" id="c_chacha20" name="ciphers" value="chacha20">
            <label for="c_chacha20">ChaCha20-Poly1305</label>

            <input type="checkbox" id="c_rc4" name="ciphers" value="rc4">
            <label for="c_rc4">RC4</label>
        </div>

        <p style="margin-top: 20px; font-style: italic;">Allowed key lengths</p>
        <div>
            <input type="checkbox" id="kl_length40" name="keyLengths" value="40">
            <label for="kl_length40">40</label>

            <input type="checkbox" id="kl_length56" name="keyLengths" value="56">
            <label for="kl_length56">56</label>

            <input type="checkbox" id="kl_length112" name="keyLengths" value="112">
            <label for="kl_length112">112</label>

            <input type="checkbox" id="kl_length128" name="keyLengths" value="128">
            <label for="kl_length128">128</label>

            <input type="checkbox" id="kl_length256" name="keyLengths" value="256">
            <label for="kl_length256">256</label>
        </div>

        <p style="margin-top: 20px; font-style: italic;">Issue date lower bound</p>
        <div>
            <input type="date" id="startDate" name="startDate">
            <label for="startDate">Start date</label>
        </div>

        <p style="margin-top: 20px; font-style: italic;">Expiration date upper bound</p>
        <div>
            <input type="date" id="endDate" name="endDate">
            <label for="endDate">End date</label>
        </div>

        <p style="margin-top: 20px; font-style: italic;">Start IP address</p>
        <div>
            <input type="text" id="startAddr" name="startAddr">
            <label for="startAddr">Start from</label>
        </div>

        <p style="margin-top: 20px; font-style: italic;">End IP address</p>
        <div>
            <input type="text" id="endAddr" name="endAddr">
            <label for="endAddr">End at</label>
        </div>

        <div style="margin-top: 30px;">
            <button type="submit">Submit</button>
        </div>
    </form>

    <script>
        const checkMap = {{ check_map | safe }};
        Object.keys(checkMap).forEach(function(elemId) {
            var elem = document.getElementById(elemId);
            if (elem) {
                if (elem.getAttribute("type") === "checkbox") {
                    elem.setAttribute("checked", true);
                } else {
                    elem.setAttribute("value", checkMap[elemId])
                }
            }
        });
    </script>
</body>
