<style>
    .topnav {
        overflow: hidden;
        background: rgb(146, 146, 255);
    }
    
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 28px;
        text-decoration: none;
    }
    
    .topnav a:hover {
        background-color: rgb(85, 85, 255);
        color: black;
        border-bottom: 0;
    }
    
    .topnav a:focus {
        border-bottom: 0;
    }
</style>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/searches_history">Searches History</a>
    <a href="/search">New Search</a>
</div>